.font-size-my1{
  font-size: 4px;
}

.font-size-my2{
  font-size: 8px;
}

.font-size-my3{
  font-size: 12px;
}

.font-size-my4{
  font-size: 16px;
}

.font-size-my5{
  font-size: 20px;
}

.font-size-my6{
  font-size: 24px;
}

.font-size-my7{
  font-size: 28px;
}

.font-size-my8{
  font-size: 32px;
}

.font-size-my9{
  font-size: 36px;
}

.font-size-my10{
  font-size: 40px;
}

.font-lh-my1{
  line-height:4px;
}

.font-lh-my2{
  line-height:8px;
}

.font-lh-my3{
  line-height:12px;
}

.font-lh-my4{
  line-height:16px;
}

.font-lh-my5{
  line-height:20px;
}

.font-lh-my6{
  line-height:24px;
}

.font-lh-my7{
  line-height:28px;
}

.font-lh-my8{
  line-height:32px;
}

.font-lh-my9{
  line-height:36px;
}

.font-lh-my10{
  line-height:40px;
}