$font-size:4px;
.font-size-my1{
  font-size: $font-size;
}

.font-size-my2{
  font-size: $font-size*2;
}

.font-size-my3{
  font-size: $font-size*3;
}

.font-size-my4{
  font-size: $font-size*4;
}

.font-size-my5{
  font-size: $font-size*5;
}

.font-size-my6{
  font-size: $font-size*6;
}

.font-size-my7{
  font-size: $font-size*7;
}

.font-size-my8{
  font-size: $font-size*8;
}

.font-size-my9{
  font-size: $font-size*9;
}

.font-size-my10{
  font-size: $font-size*10;
}

.font-size-my11{
  font-size: $font-size*11;
}

.font-size-my12{
  font-size: $font-size*12;
}


//行高line-height
.font-lh-my1{
  line-height:$font-size;
}

.font-lh-my2{
  line-height:$font-size*2;
}

.font-lh-my3{
  line-height:$font-size*3;
}

.font-lh-my4{
  line-height:$font-size*4;
}

.font-lh-my5{
  line-height:$font-size*5;
}

.font-lh-my6{
  line-height:$font-size*6;
}

.font-lh-my7{
  line-height:$font-size*7;
}

.font-lh-my8{
  line-height:$font-size*8;
}

.font-lh-my9{
  line-height:$font-size*9;
}

.font-lh-my10{
  line-height:$font-size*10;
}

.font-lh-my11{
  line-height:$font-size*11;
}