<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 讓ie更新edge -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>

  <!-- 瀏覽器標籤小圖示 16x16px大小
  <link rel="shortcut icon" href=""> -->

  <!-- fb專用meta
  <meta property="og:title" content="學員使用 HTML、CSS 開發一個網站(FB的標題)" />
  <meta property="og:description" content="FB的描述">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="FB上的網址" />
  <meta property="og:image" content="FB的圖片" /> 
  -->

  <!-- 用在iPhone及iPad經由”加入主畫面”，在主畫面上直接產生icon連結的圖片
  <link href="圖片路徑" rel="" /> -->

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header nav -->
  <header class="container">
    <nav class="d-flex justify-content-sm-between justify-content-center position-relative">
      <h1 class="text-hide">
        <a href="../dist/index.html" class="nav-link top-logo">寵愛毛小孩</a>
      </h1>

      <ul class="d-sm-flex align-items-center d-none">
        <li>
          <a class="text-my-primary font-weight-bold py-3 mr-6" href="#">預約服務</a>
        </li>
        <li>
          <a class="text-my-primary font-weight-bold py-3 mr-6" href="#">成為寵物保姆</a>
        </li>
        <li>
          <a class="text-my-primary font-weight-bold py-3" href="#">登入</a>
        </li>
      </ul>
      <div class="table-rows d-sm-none position-absolute">
        <a class="text-my-secondary" href="#">
          <span class="material-icons font-size-my9">
            table_rows
          </span>
        </a>
      </div>
    </nav>
  </header>



  <%- contents %>

  <!-- kanban -->
  <section class="kanban bg-my-success py-5">
    <div class="kanban-body container">
      <h2 class="kanban-title font-size-my10 font-weight-bold text-my-primary">有任何我們能幫助您的嗎？</h2>
      <form class="kanban-form" action="#">
        <label for="email" class="font-size-my5 font-weight-bold text-my-primary">輸入電子信箱<br>
          將有專業人員在線幫您解決所有問題</label>
        <input type="email" name="email" id="email" placeholder="example@gmail.com">
        <input type="submit" value="送出">
      </form>
    </div>
  </section>

  <footer class="footer">

  </footer>

  <!--bs4-cdn-js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!--all-js-->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>